@import url("http://fonts.cdnfonts.com/css/proxima-nova-2");
@import url("https://fonts.googleapis.com/css?family=Sofia");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --box-shadow: 0.5px 0.5px 6px rgba(221, 216, 216, 0.637);
  --primary_color: #fd2b2b;
  --black_color: #080808;
  --white_color: #ffff;
  --footer_color: #f0f0f0e8;
  --footer_social_icon_color: #fff9f9e8;

  /* container widht responsive */
  --container_width_lg: 80%;
  --container_width_md: 98%;
  --container_width_sm: 100%;
}

body {
  /* font-family: "Sofia", sans-serif; */
  font-family: "Proxima Nova", sans-serif;
  /* font-family: "Lato"; */
}

.icon {
  font-size: 1.8rem;
}

.hover {
  cursor: pointer;
}

.cartBtn {
  background: transparent;
  border: none;
  outline: none;
}

.cartBtn:hover {
  border: none !important;
  outline: none !important;
}

.cartBtn:focus {
  border: none !important;
  outline: none !important;
}

.link {
  text-decoration: none;
}

.link:hover {
  /* color: var(--primary_color); */
}

.nav {
  width: 100%;
  height: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--box-shadow);
  position: sticky;
  top: 0;
  z-index: 999999;
  background-color: var(--white_color);
}

nav {
  width: var(--container_width_lg);
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav .logo,
.nav .logoLink {
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav .logo .logo_text {
  font-size: 1.8rem;
  text-decoration: none;
  color: var(--black_color);
}

.nav .logo img {
  width: 4rem;
  height: 100%;
  object-fit: cover;
}

.nav .navlinks {
  width: 17rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav .navlinks ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav .navlinks ul li {
  list-style: none;
}

.nav .navlinks ul li:nth-child(3) {
  display: none;
}
.nav .navlinks ul li .i {
  display: none;
}
.nav .navlinks a {
  font-size: 1.1rem;
  color: var(--black_color);
  font-weight: 600;
  text-decoration: none;
}

.nav .navlinks a.active {
  color: var(--primary_color);
  position: relative;
}

.nav .navlinks a.active::after {
  content: "";
  width: 1.4rem;
  height: 3px;
  background-color: var(--primary_color);
  position: absolute;
  left: 0;
  top: 1.3em;
}

.nav .search_nav {
  width: 23rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav .search_nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav .search_nav ul .icons {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav .search_nav ul .icons li {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 2.5rem;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  font-size: 1.3rem;
  color: var(--black_color);
}

.nav .search_nav ul .icons li .bi-search,
.fa-cart {
  font-weight: 500;
  color: rgba(26, 6, 6, 0.63);
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
}

.bi-search {
  margin-left: -2rem;
}

.nav .search_nav ul .icons li .cart_nums {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: var(--primary_color);
  color: var(--white_color);
  top: 18%;
  margin-left: 2px;
}

.nav .search_nav ul .icons li .cart_nums h5 {
  text-align: center;
  margin-top: 8px;
  font-size: 0.9rem;
}

.nav .registration {
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav .first_registration {
  display: none;
}

.nav .registration .create_account,
.login {
  font-size: 1rem;
  color: var(--black_color);
  font-weight: 600;
  text-decoration: none;
}
.nav .registration .login:hover {
  color: var(--primary_color);
}

.nav .registration .create_account,
.full_menu_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary_color);
  background-color: var(--primary_color);
  height: 3rem;
  width: auto;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 30px;
}

.nav .registration .create_account:hover {
  border: 2px solid var(--primary_color);
  background-color: var(--white_color);
  color: var(--primary_color);
}

.nav .first_registration {
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav .first_registration {
  display: none;
}

.nav .first_registration .create_account,
.login {
  font-size: 1rem;
  color: var(--black_color);
  font-weight: 600;
  text-decoration: none;
}
.nav .first_registration .login:hover {
  color: var(--primary_color);
}

.nav .first_registration .create_account,
.full_menu_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary_color);
  background-color: var(--primary_color);
  height: 3rem;
  width: auto;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 30px;
}

.nav .first_registration .create_account:hover {
  border: 2px solid var(--primary_color);
  background-color: var(--white_color);
  color: var(--primary_color);
}

.nav .harmburgar_menu {
  display: none;
}

.nav .first_registration a .open-on-small-screen {
  display: none;
}

/* <===================Search Food Modal Css Codes=====================> */

.searchFoodContainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  z-index: 99999999;
}

/* <===================home=====================> */

.home {
  position: relative;
  width: var(--container_width_lg);
  margin: auto;
  height: 110vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
}

.home .left {
  position: relative;
  width: 48%;
  height: 100%;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
}

.home .home_desc {
  height: fit-content;
  width: 85%;
  display: flex;
  align-items: left;
  justify-content: space-evenly;
  flex-direction: column;
}

.home .left h2 {
  font-size: 3rem;
  text-align: left;
  font-weight: 700;
  margin-bottom: 1rem;
}

.home .left p {
  font-size: 0.9rem;
  font-weight: 300;
  width: 60%;
  line-height: 1.5rem;
}

.home .button {
  display: flex;
  align-items: left;
  justify-content: left;
  width: 50%;
  height: fit-content;
  margin-top: 2rem;
}

.home .button .get_started {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary_color);
  background-color: var(--primary_color);
  height: 3rem;
  width: 100%;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  text-decoration: none;
  border: none;
  outline: none;
}

.home .button .get_started:hover {
  border: 2px solid var(--primary_color);
  background-color: var(--white_color);
  color: var(--primary_color);
}

@media screen and (min-width: 700px) {
  .search_bar {
    position: absolute;
    bottom: 5%;
    display: flex;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: left;
    text-align: left;
    justify-content: space-evenly;
    flex-direction: column;
    line-height: 2rem;
    margin-top: 2rem;
    transition: all 700ms ease-in-out;
    opacity: 1;
    visibility: visible;
  }

  .search_bar .search {
    width: 90%;
    height: 100%;
    background-color: var(--primary_color);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
  }

  .search_bar .search i {
    color: white;
  }

  .search_bar .search input {
    width: 85%;
    height: 97%;
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: var(--white_color);
    color: var(--black_color);
  }
  .search_bar .search input:focus {
    border: none;
    outline: none;
    border: 2px solid var(--white_color);
  }
}

.home .right {
  width: 48%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home .right img {
  width: 30rem;
  height: 30rem;
  object-fit: cover;
  padding: 0;
  border-radius: 50%;
  box-shadow: 19px 33px 34px 2px rgba(100, 97, 97, 0.45);
  filter: drop-shadow(66px 77px 40px rgba(196, 196, 196, 0.2))
    drop-shadow(0px 11px 20px rgba(51, 51, 51, 0.4));
  border-radius: 296.169px;
}

.home .chat_button {
  position: absolute;
  right: 3%;
  bottom: 0%;
  width: 4.5rem;
  height: 4.5rem;
  color: var(--white_color);
  border-radius: 50%;
  background-color: var(--primary_color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home .chat_button i {
  font-size: 2rem;
}

/* ============================FOOD MENU======================= */

.food_menu {
  width: var(--container_width_lg);
  height: fit-content;
  margin: auto;
}

.food_menu h1 {
  text-align: left;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--primary_color);
}

.food_menu ul {
  width: 100%;
  height: 3rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.food_menu ul .current_menu {
  width: fit-content;
  height: fit-content;
}

.food_menu ul .current_menu li {
  list-style-type: none;
  font-size: 1.5rem;
  font-weight: 700;
}

.food_menu ul .menu_nav {
  background-color: var(--footer_color);
  width: 40%;
  height: 100%;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.food_menu ul .menu_nav a {
  font-size: 1em;
  font-weight: 550;
  color: var(--black_color);
  text-decoration: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0.6rem;
  width: auto;
  height: auto;
  border-radius: 7px;
  border: 1px solid var(--white_color);
}

.food_menu ul .menu_nav a.active {
  background-color: var(--primary_color);
  color: var(--white_color);
}

.foods {
  width: 100%;
  height: auto;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
}

.foods .food {
  width: 20rem;
  height: 24rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: var(--box-shadow);
  border-radius: 7px;
}

.foods .food .food_img {
  width: 100%;
  height: 60%;
  border-radius: 7px;
}

.foods .food .food_img img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  object-fit: cover;
}

.foods .food .food_description {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: left;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 0.5rem 1rem;
  row-gap: 0.5rem;
}

.foods .food .food_description .cart {
  display: flex;
  height: 2.5rem;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.foods .food .cart .viewProductDetails::after {
  content: "View Produt Details";
  font-weight: 500;
  font-size: 0.9rem;
  letter-spacing: 1px;
  color: var(--primary_color);
  border: 1px solid var(--black_color);
  padding: 0.5rem;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}

.foods .food .cart .viewProductDetails::after:hover {
  opacity: 1;
  pointer-events: all;
}

.foods .food .food_description .cart .add_to_cart {
  display: flex;
  width: 3rem;
  height: 3rem;
  align-items: center;
  justify-content: center;
  border-radius: 11.5px;
  color: white;
  background-color: var(--primary_color);
}

.food_menu .full_menu {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.food_menu .full_menu .full_menu_btn {
  border: none;
}
/* ==================.testmonials section ====================== */
.testmonials_bg {
  position: relative;
  background: rgba(218, 55, 67, 0.15);
  width: 100%;
  height: 100vh;
  margin-top: 2rem;
}

.testmonials {
  width: var(--container_width_lg);
  margin: auto;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;
}

.testmonials .left {
  width: 35%;
  height: 100%;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
}

.testmonials .testmonials_desc {
  height: fit-content;
  width: 100%;
  display: flex;
  align-items: left;
  justify-content: space-evenly;
  flex-direction: column;
}

.testmonials .left h2 {
  font-size: 3rem;
  text-align: left;
  font-weight: 700;
  margin-bottom: 1rem;
}

.testmonials .left p {
  font-size: 0.9rem;
  font-weight: 300;
  width: 60%;
  line-height: 1.5rem;
}

.testmonials .right {
  position: relative;
  width: 58%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white_color);
  padding: 4rem;
  border-radius: 7px;
  gap: 3rem;
}

.testmonials .right .customer_profile {
  width: 15rem;
  height: 95%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 2.5rem;
}

.testmonials .right .customer_profile img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: var(--box-shadow);
}

.testmonials .right .about_icon {
  position: absolute;
  top: 6%;
  right: 2%;
  color: var(--primary_color);
}

/* =================blog section =============== */
.blog_container {
  width: var(--container_width_lg);
  margin: 2rem auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.blog_container .blog_header {
  width: 50%;
  height: 12em;
  text-align: center;
  line-height: 3.5rem;
}

.blog_container .blog_header p {
  font-weight: 300;
  line-height: 2rem;
}

.blog_container .blogs {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  justify-content: space-evenly;
}

.blog_container .blogs .blog {
  width: 20rem;
  height: 25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem;
  box-shadow: var(--box-shadow);
}

.blog_container .blogs .blog img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: var(--box-shadow);
}

.blog_container .blogs .blog .blog_description {
  width: 100%;
  height: 11rem;
  display: flex;
  align-items: left;
  justify-content: space-evenly;
  flex-direction: column;
  line-height: 1.5rem;
}

.blog_container .blogs .blog .blog_description a:last-child {
  color: var(--primary_color);
  font-weight: 650;
  font-size: 1rem;
  text-decoration: none;
  transition: 900ms ease;
}

.blog_container .blogs .blog .blog_description a:last-child:hover {
  text-decoration: underline;
}

.blog_container .blogs .blog .blog_description p b {
  color: var(--primary_color);
  font-weight: 500;
}

/* =========================footer section================== */
footer {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--footer_color);
}

.footer {
  width: var(--container_width_lg);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 3rem;
}

.footer .footer_up {
  width: 100%;
  height: 12rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer .company_logo {
  width: 10rem;
  height: 100%;
  display: flex;
  align-items: top;
  justify-content: center;
  gap: 0.5rem;
  padding-top: 0.3em;
}

.footer .company_logo img {
  width: 10rem;
  height: 5rem;
  object-fit: contain;
}

.footer .links {
  width: 30rem;
  height: 95%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.footer .links .company {
  width: 15rem;
  height: 100%;
  display: flex;
  display: grid;
  grid-template-columns: 1fr;
}

.footer .links .company a,
.services a {
  width: fit-content;
  height: fit-content;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--black_color);
  transition: all 800ms ease-in-out;
}

.footer .links .social_links {
  display: none;
}

.footer .links .company a:hover,
.services a:hover {
  text-decoration: underline;
}

.footer .links .services {
  width: 15rem;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.footer .footer_down {
  border-top: 1.5px solid #ccc;
  width: 100%;
  height: 47%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.footer .footer_down .social_links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 20rem;
  height: fit-content;
}

.footer .footer_down .social_links .social_icon {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--footer_color);
  box-shadow: var(--box-shadow);
  border: 1px solid #ccc;
  transition: 500ms ease;
}

.footer .footer_down .social_links .social_icon:hover {
  cursor: pointer;
  box-shadow: var(--box-shadow);
  color: gray;
}

/* ===================media responsive for tablets======================== */
@media screen and (max-width: 1100px) {
  nav,
  .home,
  .food_menu,
  .testmonials,
  .blog_container,
  .footer {
    width: var(--container_width_md);
    padding: 1rem;
  }
  /* ============home=================== */
  .home .left {
    width: 47%;
  }
  .home .left .home_desc {
    width: 100%;
  }

  /* ================food menu============= */
  .food_menu ul .menu_nav {
    width: 25rem;
  }

  /* =================testimonials=================== */
  .testmonials .right {
    height: 70%;
    padding: 0.5rem;
  }

  .testmonials_bg::after {
    right: 30%;
    left: unset;
  }

  .testmonials .left h2 {
    font-size: 2rem;
  }

  .testmonials .customer_profile .profile_details h2 {
    font-size: 1rem;
  }
}

/* ===========================MEDIA RESPONSIVE FOR MOBILE============== */

@media screen and (max-width: 600px) {
  /* ============navbar============ */
  nav,
  .home,
  .food_menu,
  .testmonials,
  .blog_container,
  .footer {
    width: var(--container_width_sm);
    margin: 0;
    padding: 0;
  }

  .nav {
    width: var(--container_width_md);
    height: 4rem;
    position: sticky;
    top: 0;
    z-index: 99999;
    background-color: white !important;
  }

  .nav .logo img {
    width: 3rem;
  }

  .nav .search_nav {
    display: none;
    position: absolute;
    top: 4rem;
    width: 100%;
    height: 5rem;
    transition: 500ms ease;
    background-color: white;
  }

  /* displaying .harmburgar_menu on small screen device */

  .nav .search_nav .registration {
    width: 100%;
  }

  .nav .search_nav .registration a:nth-child(2) {
    width: auto;
    height: auto;
    padding: 1rem;
    border-radius: 30px;
    border: 2px solid var(--primary_color);
  }

  .nav .search_nav ul .icons {
    display: none;
  }

  .navlinks {
    display: flex;
    position: fixed;
    width: 90vw;
    height: 80vh;
    background-color: white;
    top: 0;
    transform: translate(-1%);
    transition: 500ms ease-in-out;
  }

  .navlinks.navlinkClose {
    transform: translate(-200%);
  }

  .nav .navlinks ul {
    flex-direction: column;
    width: 100vw;
    height: 50vh;
    z-index: 999;
    align-items: unset;
  }

  .nav .navlinks ul li {
    display: flex;
    align-items: left;
    justify-content: space-evenly;
    width: 10rem;
    height: fit-content;
    text-align: unset;
  }

  .nav .navlinks ul li:nth-child(3) {
    display: inline-flex;
  }

  .nav .navlinks ul li .i {
    display: flex;
    width: 4rem;
    height: 1.5rem;
  }

  .nav .navlinks ul li a {
    width: 4.3rem;
    height: 1.5rem;
  }

  .nav .navlinks ul li a.active {
    color: unset;
  }

  .nav .navlinks ul li a.active::after {
    display: none;
  }

  .nav .harmburgar_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 100%;
    padding: 1rem;
    z-index: 1000 !important;
  }

  .nav .harmburgar_menu .navbar_toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: fit-content;
    height: 1.7rem;
    z-index: 1999;
  }

  .nav .harmburgar_menu .navbar_toggle .bar {
    width: 1.3rem;
    height: 3px;
    background-color: var(--black_color);
    transition: all 200ms ease;
  }

  .navbar_toggle.active .bar:nth-child(1) {
    transform: translateY(7.2px) rotate(40deg);
  }

  .navbar_toggle.active .bar:nth-child(2) {
    opacity: 0;
  }

  .navbar_toggle.active .bar:nth-child(3) {
    transform: translateY(-7.2px) rotate(-40deg);
  }

  .nav .first_registration {
    display: flex;
    width: 100%;
  }

  .nav .first_registration .create_account {
    font-size: 0.8rem;
  }

  /* ============================home====================== */

  .home {
    background-image: linear-gradient(
      to bottom,
      var(--primary_color),
      var(--primary_color)
    );
    color: var(--white_color);
    height: fit-content;
    gap: 0;
    padding: 3rem 0;
  }

  .search_bar {
    display: flex;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: left;
    text-align: left;
    justify-content: space-evenly;
    flex-direction: column;
    line-height: 2rem;
    margin-top: 2rem;
  }

  .search_bar .search {
    width: 95%;
    height: 100%;
    background-color: var(--white_color);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .search_bar .search i {
    color: black;
  }

  .search_bar .search input {
    width: 85%;
    height: 99%;
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: transparent;
  }
  .search_bar .search input:focus {
    border: none;
    outline: none;
    border-left: 2px solid var(--primary_color);
  }

  .home .left {
    width: 100%;
    padding-left: 1rem;
  }

  .home .left .home_desc h2 {
    font-size: 1.5rem;
  }
  .home .left p {
    width: 100%;
    font-size: 0.8rem;
  }

  .home .right {
    width: 100%;
    height: 15rem;
  }

  .home .right img {
    width: 14rem;
    height: 14rem;
  }

  .home .button {
    display: none;
  }

  .home .chat_button {
    right: 3%;
    bottom: -11%;
    width: 3rem;
    height: 3rem;
  }

  .home .chat_button i {
    font-size: 1rem;
  }

  /* ====================food Menu=================== */
  .food_menu {
    margin: 2rem 0;
    padding: 0.2rem;
    gap: 0.3rem;
  }

  .food_menu h1 {
    margin-bottom: 1rem;
  }

  .food_menu .foods {
    padding: 0.2rem;
    column-gap: 0.3rem;
    row-gap: 3rem;
  }
  .food_menu .foods .food {
    margin-bottom: 3rem;
  }

  .foods .food .food_img {
    height: 48%;
  }

  .food_menu ul {
    width: 100%;
    height: fit-content;
    gap: 1rem;
  }

  .food_menu .foods .food {
    width: 48%;
    height: 21rem;
  }

  .food_menu ul .menu_nav a {
    font-size: 0.6rem;
    padding: 0.2rem;
    height: 2rem;
    width: 2.8rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .foods .food .food_description {
    width: 100%;
    height: 50%;
    padding: 0.3rem;
  }

  .foods .food .food_description .cart {
    width: 100%;
    padding: 0;
  }
  .foods .food .food_description .cart h3 {
    font-size: 0.95rem;
  }

  /* ==================testimonials responsice==================== */
  .testmonials_bg {
    height: fit-content;
    margin-bottom: 2.3rem;
  }

  .testmonials {
    width: var(--container_width_sm);
    height: fit-content;
    padding: 0;
    align-items: left;
  }

  .testmonials .left {
    width: 80%;
    margin: 0;
    margin-top: 1.4rem;
  }

  .testmonials .left h2 {
    font-size: 1.5rem;
  }

  .testmonials .left p {
    width: 100%;
  }

  .testmonials .right {
    position: relative;
    width: 88%;
    height: 17rem;
    flex-direction: column;
    padding: 0.4rem;
    gap: 1rem;
    margin-bottom: 4rem;
    justify-content: space-around;
  }

  .testmonials .right .what_customer_said {
    height: 48%;
    width: 100%;
  }
  .testmonials .right .what_customer_said p {
    font-size: 0.89rem;
  }

  .testmonials .right .dots {
    position: absolute;
    bottom: -15%;
    left: 26%;
    width: 50%;
    height: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .testmonials .right .dot {
    /* Active */
    width: 8px;
    height: 8px;
    left: calc(50% - 8px / 2 - 35.5px);
    top: calc(50% - 8px / 2);
    background: #ffffff;
  }

  .testmonials .right .dot.active {
    /* Active */
    width: 8px;
    height: 8px;
    left: calc(50% - 8px / 2 - 35.5px);
    top: calc(50% - 8px / 2);
    background: #da3743;
  }

  .testmonials .right .customer_profile {
    width: 100%;
    height: 46%;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .testmonials .right .customer_profile img {
    width: 7rem;
    height: 7rem;
  }

  .testmonials .right .customer_profile .profile_details {
    width: 10rem;
    height: fit-content;
  }

  .testmonials .right .customer_profile .profile_details p {
    font-size: 0.8rem;
  }

  .testmonials .right .customer_profile .profile_details h1 {
    font-size: 1rem;
  }

  .testmonials .right .about_icon {
    position: absolute;
    top: 2%;
    right: 2%;
  }

  /* =================blog section =============== */
  .blog_container .blog_header {
    width: 100%;
    height: fit-content;
    margin-bottom: 2rem;
  }

  .blog_container .blogs .blog {
    width: 90%;
    margin-bottom: 3rem;
  }

  .blog_container .blogs .blog img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: var(--box-shadow);
  }

  .blog_container .blogs .blog .blog_description a:last-child {
    font-size: 0.9rem;
  }

  /* =========================footer section================== */
  footer {
    width: 100%;
    height: fit-content;
  }

  .footer {
    width: var(--container_width_sm);
    padding: 0;
  }

  .footer .footer_up {
    width: 100%;
    height: fit-content;
  }

  .footer .company_logo {
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
  }

  .footer .company_logo img {
    width: 6rem;
    height: 6rem;
    object-fit: contain;
  }

  .footer .links {
    position: relative;
    width: 100%;
    height: 20rem;
    flex-wrap: unset;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .footer .links .company {
    width: 15rem;
    height: 12rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .footer .links .services {
    width: 15rem;
    height: 15rem;
    display: flex;
    align-items: right;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .footer .links .social_links {
    display: flex;
    position: absolute;
    bottom: 3%;
    left: 3%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 60%;
    height: fit-content;
  }

  .footer .links .social_links .social_icon {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--footer_color);
    box-shadow: var(--box-shadow);
    border: 1px solid #ccc;
  }

  .footer .footer_down {
    border-top: 1.5px solid #ccc;
    width: 100%;
    height: 5rem;
    display: flex;
    flex-wrap: unset;
    align-items: center;
    justify-content: space-between;
  }

  .footer .footer_down .social_links {
    display: none;
  }
}
